* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-container {
  margin: 0 auto;
  width: 80%;
  margin-top: 90px;
  margin-bottom: 90px;

  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-rows: 300px 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  -webkit-box-shadow: 2px 2px 30px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 30px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 30px -10px rgba(0, 0, 0, 0.75);
}
/* ***********PHOTO********** */
.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d65381;
  grid-area: 1 / 1 / 2 / 2;
}

.photo img {
  width: 50%;
  height: auto;
  border-radius: 50%;
}

/* ***********TITLE********** */
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  grid-area: 1 / 2 / 2 / 3;
}

h1 {
  font-size: 60px;
  font-weight: 700;
}

h1 span {
  color: #d65381;
}

h2 {
  font-size: 30px;
}

h2 span {
  color: #d65381;
}

/* ***********INFO********** */
.info {
  background-color: #d65381;
  color: white;
  grid-area: 2 / 1 / 3 / 2;
}

.info_contact_title {
  text-align: center;
  color: rgb(8, 8, 8);
  background-color: white;
  font-weight: 800;
  font-size: 25px;
  padding: 10px;
}

.info_contact ul {
  margin: 50px 0px 50px 70px;
}

.info_contact li {
  font-weight: 700;
  list-style: none;
  margin-top: 20px;
}

.info_contact li p {
  margin-top: 5px;
  font-weight: 400;
}

.info_contact_about {
  padding: 50px;
}

.info_contact_loisirs {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.info_contact_loisirs i {
  font-size: 50px;
}

/* ***********RESUME********** */
.resume {
  grid-area: 2 / 2 / 3 / 3;
}

/* **************************************************************** */
/* ***********RESPONSIVE********** */
@media (max-width: 1270px) {
  .main-container {
    width: 95%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  /* ***********PHOTO********** */
  .photo {
    grid-area: 1 / 1 / 2 / 2;
  }

  .photo img {
    margin: 50px 0px 50px 0px !important;
    width: 250px;
    height: auto;
  }

  .title {
    margin: 50px;
    grid-area: 2 / 1 / 3 / 2;
  }
  .info {
    grid-area: 3 / 1 / 4 / 2;
  }
  .resume {
    grid-area: 4 / 1 / 5 / 2;
  }
}
