* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-container {
  margin: 0 auto;
  width: 80%;
  margin-top: 90px;
  margin-bottom: 90px;

  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-rows: 300px 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  -webkit-box-shadow: 2px 2px 30px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 30px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 30px -10px rgba(0, 0, 0, 0.75);
}
/* ***********PHOTO********** */
.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d65381;
}

.photo img {
  width: 50%;
  height: auto;
  border-radius: 50%;
}

/* ***********TITLE********** */
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

h1 {
  font-size: 60px;
  font-weight: 700;
}

h1 span {
  color: #d65381;
}

h2 {
  font-size: 30px;
}

h2 span {
  color: #d65381;
}

/* ***********INFO********** */
.info_contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #d65381;
  color: white;
}

.info_contact_title {
  text-align: center;
  color: rgb(8, 8, 8);
  background-color: white;
  font-weight: 800;
  font-size: 25px;
  padding: 10px;
}

.info_contact ul {
  margin: 50px 0px 50px 70px;
}

.info_contact li {
  font-weight: 700;
  list-style: none;
  margin-top: 20px;
}

.info_contact li p {
  margin-top: 5px;
  font-weight: 400;
}

.info_contact_about {
  padding: 50px;
}

.info_contact_loisirs {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.info_contact_loisirs i {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 50px;
  border: solid 3px white;
  border-radius: 50%;
  padding: 15px;
}

/* ***********RESUME********** */
.resume {
  padding-left: 80px;
  padding-right: 80px;
}

.resume_title {
  display: flex;
  align-items: center;
  color: rgb(8, 8, 8);
  font-weight: 800;
  font-size: 25px;
}

.resume_title .fas {
  margin-right: 50px;
  color: #d65381;
  font-size: 50px;
}
.resume hr {
  margin-top: 15px;
  border-top: 2px solid #d65381;
}

.resume_content {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.resume_content .far {
  color: #d65381;
}

.resume_content .fas {
  color: #d65381;
}

.resume_content_date {
  font-weight: 700;
  flex: 1;
  margin-left: 25px;
}

.resume_content_description {
  width: 70%;
}

.description_title {
  font-size: 1.4em;
  font-weight: 700;
}
.description_job {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 700;
}

/* ***********RECOMMANDATION********** */
.recommandations_content {
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.recommandations_content p {
  margin-top: 5px;
}

.recommandation_name {
  font-weight: 700;
}

/* **************************************************************** */
/* ***********RESPONSIVE********** */
@media (max-width: 1270px) {
  .main-container {
    grid-template-columns: minmax(320px, 100%);
    grid-template-rows: auto;
    width: 100%;
    margin: 0;
    overflow: hidden;
  }

  /* ***********PHOTO********** */
  .photo img {
    min-width: 20%;
    max-width: 350px;
    margin: 20px;
  }
  /* ***********TITLE********** */
  .title {
    margin: 40px 0 40px 0;
  }
  .title h1 {
    text-align: center;
    font-size: 40px;
  }

  .title h2 {
    text-align: center;
    font-size: 25px;
  }
  /* ***********INFO********** */
  .info_contact_title {
    font-size: 20px;
  }

  .info_contact ul {
    text-align: center;
    margin-left: 0;
  }

  .info_contact_about {
    text-align: center;
  }
  /* ***********RESUME********** */
  .resume {
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
  }
  .resume_title {
    font-size: 20px;
  }
  .resume_title .fas {
    font-size: 30px;
    margin-right: 20px;
  }

  .resume_content {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .resume_content_date {
    margin-left: 0;
    margin-bottom: 20px;
  }
  .resume_content .far {
    display: none;
  }

  .resume_content .fas {
    display: none;
  }

  /* ***********RECOMMANDATION********** */
  .recommandations_content {
    flex-direction: column;
  }

  .recommandation_content_description {
    margin-top: 40px;
    text-align: center;
  }
}
